doctype html
html
    head
        title Yeet Sauce
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js')
        script(src="js/script.js")
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        div(class="mainbuttons")
            button(onClick="get('toggleAllOn')") All Lights On
            button(onClick="get('toggleAllOff')") All Lights Off
            button(onClick="get('dog')") Dog Lights
        table(style='width=100%')
            tr
                td
                    button(onClick="toggleSpecific('4')", id='4') Living room Lamp
                td
                    button(onClick="toggleSpecific('1')", id='1') Desk Lamp
                td
                    button(onClick="toggleSpecific('2')", id='2') Hallway Light
                td
                    button(onClick="toggleSpecific('5')", id='5') Bedroom Light
                td
                    button(onClick="toggleSpecific('3')", id='3') Door Light
        div(class="info")
            div(class="weathershit")
                p(class="temp") 0
                p(class="skytext") 0
            p(class="time") 0