doctype html
html
    head
        title Yeet Sauce
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js')
        style.
            * {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-family: "Helvetica";
                text-decoration: none;
                outline: none;
            }
            body {
                background-color: #222222;
            }
            button {
                border-radius: 5px;
                background-color: #1AFFD5 !important;
                border-color: #1AFFD5;
                border-style: solid;
            }
            .mainbuttons {
                text-align: center;
            }
            .mainbuttons button {
                width: 25%;
                height: 100px;
                margin: 5px 5px 5px 5px;
                box-shadow: 0px 3px 8px #000000;
            }
            td {
                padding: 0px 50px 0px 50px
            }
            table {
                padding-top: 3%;
                margin-left: auto;
                margin-right: auto;
            }
            table button {
                text-size-adjust: none;
                height: 100px;
                width: 100px;
                margin-left: -10px;
                margin-right: -10px;
            }
            .weathershit {
                position: absolute;
                bottom: 0;
                padding-left: 5px;
                margin-top: -100px;
                width: 50%
                float: left;
            }
            .info {
                font-size: 48px;
                color: white;
            }
            .time {
                text-align: right;
                width: 100%;
                float: right;
                bottom: 0;
                position: absolute;
            }
        script.
            const BOX_SHADOW = "rgb(136, 136, 136) 0px 0px 30px 10px";
            const NO_SHADOW = "rgb(0, 0, 0) 0px 0px 0px"

            document.addEventListener("DOMContentLoaded", function(){
                loadData();
            });

            function loadData() {
                var temp = document.getElementsByClassName("temp")[0];
                var skytext = document.getElementsByClassName("skytext")[0];

                axios.get('/weather')
                    .then((res) => {
                        temp.innerHTML = res.data + "°";
                    })
                    .catch((err) => {
                        console.err(err);
                    });

                axios.get('/skytext')
                    .then((res) => {
                        skytext.innerHTML = res.data;
                    })
                    .catch((err) => {
                        console.err(err);
                    });

                axios.get('/lightState')
                    .then((res) => {
                        var data = JSON.parse(JSON.stringify(res.data)); //js btw xddd
                        console.log(data);
                        for (let entry in data) {
                            var key = entry;
                            var value = data[key];
                            if (value == true) {
                                document.getElementById(key).style.boxShadow = BOX_SHADOW;
                            }
                        }
                    })
            }

            setInterval(function() {
                console.log('loaded info hehe')
                loadData();
            }, 5000);

            setInterval(function () {
                var time = new Date();
                var hour = time.getHours();
                var am = "am";
                if (hour > 12) {
                    hour -= 12;
                    am = "pm";
                }
                var min = time.getMinutes();
                document.getElementsByClassName("time")[0].innerHTML = hour + ':' + (min < 10 ? "0" + min : min) + am;
            }, 1000)

            function setGlow(id, on) {
                var prop = document.getElementById(id);
                console.log(on)
                if (on == true) {
                    prop.style.boxShadow = BOX_SHADOW;
                } else {
                    if (on == undefined) {
                        if (prop.style.boxShadow == "" || prop.style.boxShadow == "rgb(136, 136, 136) 0px 0px 0px") {
                            console.log('nani');
                            prop.style.boxShadow = BOX_SHADOW;
                            return
                        }
                        console.log(prop.style.boxShadow)
                    }
                    prop.style.boxShadow = NO_SHADOW;
                }
            }

            function get(param) {
                for (i = 1; i < 6; i++) {
                    if (param.includes("On")) {
                        setGlow(i, true)
                    } else {
                        setGlow(i, false)
                    }
                }

                axios.get('/' + param)
                    .then((res) => {
                        console.log(res)
                    }).catch((err) => {
                        console.log(err)
                    })
            }

            function toggleSpecific(lightId) {
                console.log('/toggle?id=' + lightId)
                axios.get('/toggle?id=' + lightId)
                    .then((res) => {
                        setGlow(lightId)
                        console.log(res)
                    })
                    .catch((err) => {
                        console.err(err)
                    })
            }
    body
        div(class="mainbuttons")
            button(onClick="get('toggleAllOn')") All Lights On
            button(onClick="get('toggleAllOff')") All Lights Off
            button(onClick="get('dog')") Dog Lights
        table(style='width=100%')
            tr
                td
                    button(onClick="toggleSpecific('1')", id='1') Desk Lamp
                td
                    button(onClick="toggleSpecific('2')", id='2') Hallway Light
                td
                    button(onClick="toggleSpecific('5')", id='5') Bedroom Light
                td
                    button(onClick="toggleSpecific('3')", id='3') Door Light
                td
                    button(onClick="toggleSpecific('4')", id='4') Living room Lamp
        div(class="info")
            div(class="weathershit")
                p(class="temp") 0
                p(class="skytext") 0
            p(class="time") 0